{
  "openapi": "3.1.0",
  "info": {
    "title": "SpinupMail Agent Inbox API",
    "version": "1.0.0",
    "description": "Controlled, organization-scoped email inboxes for service agents. Production outbound sending is disabled by default."
  },
  "servers": [
    {
      "url": "https://api.spinupmail.com"
    }
  ],
  "paths": {
    "/api/v1/discovery": {
      "get": {
        "operationId": "getAgentDiscovery",
        "summary": "Discover the agent inbox API contract",
        "security": [],
        "responses": {
          "200": {
            "description": "Versioned contract links."
          }
        }
      }
    },
    "/api/v1/openapi.json": {
      "get": {
        "operationId": "getAgentOpenApi",
        "summary": "Read the agent inbox OpenAPI document",
        "security": [],
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 JSON document."
          }
        }
      }
    },
    "/api/v1/llms.txt": {
      "get": {
        "operationId": "getAgentLlmsText",
        "summary": "Read the compact agent inbox integration guide",
        "security": [],
        "responses": {
          "200": {
            "description": "Plain-text integration guide."
          }
        }
      }
    },
    "/api/v1/capabilities": {
      "get": {
        "operationId": "getCapabilities",
        "summary": "Inspect the authenticated v1 actor and capabilities",
        "security": [
          {
            "agentBearer": []
          },
          {
            "humanSession": [],
            "organizationId": []
          }
        ],
        "tags": ["Oversight"],
        "responses": {
          "200": {
            "description": "Request completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "string",
                      "const": "1"
                    },
                    "organizationId": {
                      "type": "string",
                      "minLength": 1
                    },
                    "actor": {
                      "type": "string",
                      "enum": ["human", "agent", "legacy"]
                    },
                    "admin": {
                      "type": "boolean"
                    },
                    "platformAdmin": {
                      "type": "boolean"
                    },
                    "twoFactorEnabled": {
                      "type": "boolean"
                    },
                    "capabilities": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "enum": [
                          "inboxes:create",
                          "inboxes:read",
                          "inboxes:delete",
                          "messages:read",
                          "drafts:write",
                          "messages:send",
                          "events:read"
                        ]
                      }
                    },
                    "sending": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "version",
                    "organizationId",
                    "actor",
                    "admin",
                    "platformAdmin",
                    "twoFactorEnabled",
                    "capabilities",
                    "sending"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Structured API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": ["code", "message", "requestId"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-spinupmail-auth": "human-or-agent",
        "x-spinupmail-mcp": true
      }
    },
    "/api/v1/enrollments": {
      "post": {
        "operationId": "createEnrollment",
        "summary": "Create a bounded one-time agent enrollment",
        "security": [
          {
            "humanSession": [],
            "organizationId": []
          }
        ],
        "tags": ["Oversight"],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enrollmentId": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "enrollmentSecret": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9_-]{43}$"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "capabilities": {
                    "default": [
                      "inboxes:create",
                      "inboxes:read",
                      "messages:read",
                      "drafts:write",
                      "events:read"
                    ],
                    "minItems": 1,
                    "maxItems": 7,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "inboxes:create",
                        "inboxes:read",
                        "inboxes:delete",
                        "messages:read",
                        "drafts:write",
                        "messages:send",
                        "events:read"
                      ]
                    }
                  },
                  "inboxLimit": {
                    "default": 1,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 5
                  },
                  "credentialExpiresInDays": {
                    "default": 30,
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 90
                  }
                },
                "required": [
                  "enrollmentId",
                  "enrollmentSecret",
                  "name",
                  "capabilities",
                  "inboxLimit",
                  "credentialExpiresInDays"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Request completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "enrollment": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "organizationId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "name": {
                          "type": "string",
                          "minLength": 1
                        },
                        "capabilities": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "inboxes:create",
                              "inboxes:read",
                              "inboxes:delete",
                              "messages:read",
                              "drafts:write",
                              "messages:send",
                              "events:read"
                            ]
                          }
                        },
                        "inboxLimit": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 9007199254740991
                        },
                        "credentialExpiresInDays": {
                          "type": "integer",
                          "exclusiveMinimum": 0,
                          "maximum": 9007199254740991
                        },
                        "createdAt": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "expiresAt": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "consumedAt": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "revokedAt": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "organizationId",
                        "name",
                        "capabilities",
                        "inboxLimit",
                        "credentialExpiresInDays",
                        "createdAt",
                        "expiresAt",
                        "consumedAt",
                        "revokedAt"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": ["enrollment"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Structured API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": ["code", "message", "requestId"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-spinupmail-auth": "human-admin-2fa",
        "x-spinupmail-mcp": false
      }
    },
    "/api/v1/agent/enroll": {
      "post": {
        "operationId": "enrollAgent",
        "summary": "Exchange an enrollment for an agent credential",
        "description": "The credential ID and secret are generated by the client. The service stores only the secret hash.",
        "security": [],
        "tags": ["Agent inboxes"],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enrollmentToken": {
                    "type": "string",
                    "pattern": "^smenr_v1_[0-9a-f]{8}-[0-9a-f]{4}-[1-8][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}\\.[A-Za-z0-9_-]{43}$"
                  },
                  "credentialId": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "credentialSecret": {
                    "type": "string",
                    "pattern": "^[A-Za-z0-9_-]{43}$"
                  },
                  "agentName": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "credentialName": {
                    "default": "Agent client",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 80
                  },
                  "requestedInbox": {
                    "type": "object",
                    "properties": {
                      "localPart": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 64,
                        "pattern": "^[a-z0-9][a-z0-9._+-]*[a-z0-9]$|^[a-z0-9]$"
                      },
                      "domain": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 253
                      }
                    },
                    "required": ["localPart", "domain"],
                    "additionalProperties": false
                  }
                },
                "required": [
                  "enrollmentToken",
                  "credentialId",
                  "credentialSecret",
                  "agentName",
                  "credentialName"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Request completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "agent": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "organizationId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "name": {
                          "type": "string",
                          "minLength": 1
                        },
                        "createdAt": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "revokedAt": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "organizationId",
                        "name",
                        "createdAt",
                        "revokedAt"
                      ],
                      "additionalProperties": false
                    },
                    "credential": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "organizationId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "principalId": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "name": {
                          "type": "string",
                          "minLength": 1
                        },
                        "capabilities": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "inboxes:create",
                              "inboxes:read",
                              "inboxes:delete",
                              "messages:read",
                              "drafts:write",
                              "messages:send",
                              "events:read"
                            ]
                          }
                        },
                        "inboxIds": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "minLength": 1
                          }
                        },
                        "createdAt": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "expiresAt": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "revokedAt": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "organizationId",
                        "principalId",
                        "name",
                        "capabilities",
                        "inboxIds",
                        "createdAt",
                        "expiresAt",
                        "revokedAt"
                      ],
                      "additionalProperties": false
                    },
                    "inbox": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "organizationId": {
                              "type": "string",
                              "minLength": 1
                            },
                            "principalId": {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            "address": {
                              "type": "string",
                              "format": "email",
                              "pattern": "^(?:[A-Za-z0-9_'+\\-]+\\.)*[A-Za-z0-9_'+\\-]*[A-Za-z0-9_+-]@(?:[A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                            },
                            "localPart": {
                              "type": "string",
                              "minLength": 1
                            },
                            "domain": {
                              "type": "string",
                              "minLength": 1
                            },
                            "createdAt": {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            },
                            "deletedAt": {
                              "anyOf": [
                                {
                                  "type": "integer",
                                  "minimum": 0,
                                  "maximum": 9007199254740991
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "id",
                            "organizationId",
                            "principalId",
                            "address",
                            "localPart",
                            "domain",
                            "createdAt",
                            "deletedAt"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": ["agent", "credential", "inbox"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Structured API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": ["code", "message", "requestId"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-spinupmail-auth": "enrollment-token",
        "x-spinupmail-mcp": false
      }
    },
    "/api/v1/agents": {
      "get": {
        "operationId": "listAgents",
        "summary": "List agent principals",
        "security": [
          {
            "humanSession": [],
            "organizationId": []
          }
        ],
        "tags": ["Oversight"],
        "responses": {
          "200": {
            "description": "Request completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "organizationId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "createdAt": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "revokedAt": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "organizationId",
                          "name",
                          "createdAt",
                          "revokedAt"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": ["items"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Structured API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": ["code", "message", "requestId"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-spinupmail-auth": "human-admin",
        "x-spinupmail-mcp": false
      }
    },
    "/api/v1/agents/{id}": {
      "delete": {
        "operationId": "revokeAgent",
        "summary": "Revoke an agent and its credentials",
        "security": [
          {
            "humanSession": [],
            "organizationId": []
          }
        ],
        "tags": ["Oversight"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Request completed with no response body."
          },
          "default": {
            "description": "Structured API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": ["code", "message", "requestId"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-spinupmail-auth": "human-admin",
        "x-spinupmail-mcp": false
      }
    },
    "/api/v1/credentials": {
      "get": {
        "operationId": "listCredentials",
        "summary": "List agent credentials without secrets",
        "security": [
          {
            "humanSession": [],
            "organizationId": []
          }
        ],
        "tags": ["Oversight"],
        "responses": {
          "200": {
            "description": "Request completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "organizationId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "principalId": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "name": {
                            "type": "string",
                            "minLength": 1
                          },
                          "capabilities": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "enum": [
                                "inboxes:create",
                                "inboxes:read",
                                "inboxes:delete",
                                "messages:read",
                                "drafts:write",
                                "messages:send",
                                "events:read"
                              ]
                            }
                          },
                          "inboxIds": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "minLength": 1
                            }
                          },
                          "createdAt": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "expiresAt": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "revokedAt": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "organizationId",
                          "principalId",
                          "name",
                          "capabilities",
                          "inboxIds",
                          "createdAt",
                          "expiresAt",
                          "revokedAt"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": ["items"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Structured API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": ["code", "message", "requestId"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-spinupmail-auth": "human-admin",
        "x-spinupmail-mcp": false
      }
    },
    "/api/v1/credentials/{id}": {
      "delete": {
        "operationId": "revokeCredential",
        "summary": "Revoke an agent credential",
        "security": [
          {
            "humanSession": [],
            "organizationId": []
          }
        ],
        "tags": ["Oversight"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Request completed with no response body."
          },
          "default": {
            "description": "Structured API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": ["code", "message", "requestId"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-spinupmail-auth": "human-admin",
        "x-spinupmail-mcp": false
      }
    },
    "/api/v1/inboxes": {
      "post": {
        "operationId": "createInbox",
        "summary": "Create a persistent granted inbox",
        "security": [
          {
            "agentBearer": []
          }
        ],
        "tags": ["Agent inboxes"],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "localPart": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 64,
                    "pattern": "^[a-z0-9][a-z0-9._+-]*[a-z0-9]$|^[a-z0-9]$"
                  },
                  "domain": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 253
                  }
                },
                "required": ["id", "localPart", "domain"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Request completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inbox": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "organizationId": {
                          "type": "string",
                          "minLength": 1
                        },
                        "principalId": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "address": {
                          "type": "string",
                          "format": "email",
                          "pattern": "^(?:[A-Za-z0-9_'+\\-]+\\.)*[A-Za-z0-9_'+\\-]*[A-Za-z0-9_+-]@(?:[A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                        },
                        "localPart": {
                          "type": "string",
                          "minLength": 1
                        },
                        "domain": {
                          "type": "string",
                          "minLength": 1
                        },
                        "createdAt": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "deletedAt": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "id",
                        "organizationId",
                        "principalId",
                        "address",
                        "localPart",
                        "domain",
                        "createdAt",
                        "deletedAt"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": ["inbox"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Structured API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": ["code", "message", "requestId"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-spinupmail-auth": "agent",
        "x-spinupmail-capability": "inboxes:create",
        "x-spinupmail-mcp": true
      },
      "get": {
        "operationId": "listInboxes",
        "summary": "List accessible inboxes",
        "security": [
          {
            "agentBearer": []
          },
          {
            "humanSession": [],
            "organizationId": []
          }
        ],
        "tags": ["Oversight"],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "default": 50,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "organizationId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "principalId": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "address": {
                            "type": "string",
                            "format": "email",
                            "pattern": "^(?:[A-Za-z0-9_'+\\-]+\\.)*[A-Za-z0-9_'+\\-]*[A-Za-z0-9_+-]@(?:[A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                          },
                          "localPart": {
                            "type": "string",
                            "minLength": 1
                          },
                          "domain": {
                            "type": "string",
                            "minLength": 1
                          },
                          "createdAt": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "deletedAt": {
                            "anyOf": [
                              {
                                "type": "integer",
                                "minimum": 0,
                                "maximum": 9007199254740991
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "id",
                          "organizationId",
                          "principalId",
                          "address",
                          "localPart",
                          "domain",
                          "createdAt",
                          "deletedAt"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "nextCursor": {
                      "type": ["string", "null"]
                    }
                  },
                  "required": ["items", "nextCursor"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Structured API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": ["code", "message", "requestId"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-spinupmail-auth": "human-or-agent",
        "x-spinupmail-capability": "inboxes:read",
        "x-spinupmail-mcp": true
      }
    },
    "/api/v1/inboxes/{id}": {
      "delete": {
        "operationId": "deleteInbox",
        "summary": "Delete and permanently tombstone an inbox address",
        "security": [
          {
            "agentBearer": []
          },
          {
            "humanSession": [],
            "organizationId": []
          }
        ],
        "tags": ["Oversight"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Request completed with no response body."
          },
          "default": {
            "description": "Structured API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": ["code", "message", "requestId"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-spinupmail-auth": "human-or-agent",
        "x-spinupmail-capability": "inboxes:delete",
        "x-spinupmail-mcp": true
      }
    },
    "/api/v1/messages": {
      "get": {
        "operationId": "listMessages",
        "summary": "Search messages in a granted inbox",
        "security": [
          {
            "agentBearer": []
          },
          {
            "humanSession": [],
            "organizationId": []
          }
        ],
        "tags": ["Oversight"],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "default": 50,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "inboxId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "inboxId": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "threadId": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "direction": {
                            "type": "string",
                            "enum": ["inbound", "outbound"]
                          },
                          "messageId": {
                            "type": ["string", "null"]
                          },
                          "inReplyTo": {
                            "type": ["string", "null"]
                          },
                          "references": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "from": {
                            "type": "string"
                          },
                          "to": {
                            "type": "string"
                          },
                          "subject": {
                            "type": ["string", "null"]
                          },
                          "bodyText": {
                            "type": ["string", "null"]
                          },
                          "bodyHtml": {
                            "type": ["string", "null"]
                          },
                          "deliveryState": {
                            "type": "string",
                            "enum": [
                              "received",
                              "draft",
                              "queued",
                              "submitted",
                              "delivered",
                              "deferred",
                              "bounced",
                              "complained",
                              "uncertain",
                              "failed"
                            ]
                          },
                          "receivedAt": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          }
                        },
                        "required": [
                          "id",
                          "inboxId",
                          "threadId",
                          "direction",
                          "messageId",
                          "inReplyTo",
                          "references",
                          "from",
                          "to",
                          "subject",
                          "bodyText",
                          "bodyHtml",
                          "deliveryState",
                          "receivedAt"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "nextCursor": {
                      "type": ["string", "null"]
                    }
                  },
                  "required": ["items", "nextCursor"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Structured API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": ["code", "message", "requestId"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-spinupmail-auth": "human-or-agent",
        "x-spinupmail-capability": "messages:read",
        "x-spinupmail-mcp": true
      }
    },
    "/api/v1/messages/{id}": {
      "get": {
        "operationId": "getMessage",
        "summary": "Get one message from a granted inbox",
        "security": [
          {
            "agentBearer": []
          },
          {
            "humanSession": [],
            "organizationId": []
          }
        ],
        "tags": ["Oversight"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "inboxId": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "threadId": {
                          "anyOf": [
                            {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "direction": {
                          "type": "string",
                          "enum": ["inbound", "outbound"]
                        },
                        "messageId": {
                          "type": ["string", "null"]
                        },
                        "inReplyTo": {
                          "type": ["string", "null"]
                        },
                        "references": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "from": {
                          "type": "string"
                        },
                        "to": {
                          "type": "string"
                        },
                        "subject": {
                          "type": ["string", "null"]
                        },
                        "bodyText": {
                          "type": ["string", "null"]
                        },
                        "bodyHtml": {
                          "type": ["string", "null"]
                        },
                        "deliveryState": {
                          "type": "string",
                          "enum": [
                            "received",
                            "draft",
                            "queued",
                            "submitted",
                            "delivered",
                            "deferred",
                            "bounced",
                            "complained",
                            "uncertain",
                            "failed"
                          ]
                        },
                        "receivedAt": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "id",
                        "inboxId",
                        "threadId",
                        "direction",
                        "messageId",
                        "inReplyTo",
                        "references",
                        "from",
                        "to",
                        "subject",
                        "bodyText",
                        "bodyHtml",
                        "deliveryState",
                        "receivedAt"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": ["message"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Structured API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": ["code", "message", "requestId"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-spinupmail-auth": "human-or-agent",
        "x-spinupmail-capability": "messages:read",
        "x-spinupmail-mcp": true
      }
    },
    "/api/v1/messages/{id}/raw": {
      "get": {
        "operationId": "getRawMessage",
        "summary": "Download the private raw MIME message",
        "security": [
          {
            "agentBearer": []
          },
          {
            "humanSession": [],
            "organizationId": []
          }
        ],
        "tags": ["Oversight"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Private binary content.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "contentEncoding": "base64"
                }
              }
            }
          },
          "default": {
            "description": "Structured API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": ["code", "message", "requestId"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-spinupmail-auth": "human-or-agent",
        "x-spinupmail-capability": "messages:read",
        "x-spinupmail-mcp": false
      }
    },
    "/api/v1/messages/{id}/attachments/{attachmentId}": {
      "get": {
        "operationId": "getAttachment",
        "summary": "Download a private message attachment",
        "security": [
          {
            "agentBearer": []
          },
          {
            "humanSession": [],
            "organizationId": []
          }
        ],
        "tags": ["Oversight"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          },
          {
            "name": "attachmentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Private binary content.",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "contentEncoding": "base64"
                }
              }
            }
          },
          "default": {
            "description": "Structured API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": ["code", "message", "requestId"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-spinupmail-auth": "human-or-agent",
        "x-spinupmail-capability": "messages:read",
        "x-spinupmail-mcp": false
      }
    },
    "/api/v1/threads": {
      "get": {
        "operationId": "listThreads",
        "summary": "List RFC-reference threads in a granted inbox",
        "security": [
          {
            "agentBearer": []
          },
          {
            "humanSession": [],
            "organizationId": []
          }
        ],
        "tags": ["Oversight"],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "default": 50,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "inboxId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "inboxId": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "subject": {
                            "type": ["string", "null"]
                          },
                          "messageCount": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "createdAt": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          },
                          "updatedAt": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          }
                        },
                        "required": [
                          "id",
                          "inboxId",
                          "subject",
                          "messageCount",
                          "createdAt",
                          "updatedAt"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "nextCursor": {
                      "type": ["string", "null"]
                    }
                  },
                  "required": ["items", "nextCursor"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Structured API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": ["code", "message", "requestId"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-spinupmail-auth": "human-or-agent",
        "x-spinupmail-capability": "messages:read",
        "x-spinupmail-mcp": true
      }
    },
    "/api/v1/threads/{id}": {
      "get": {
        "operationId": "getThread",
        "summary": "Get a thread and its messages",
        "security": [
          {
            "agentBearer": []
          },
          {
            "humanSession": [],
            "organizationId": []
          }
        ],
        "tags": ["Oversight"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "thread": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "inboxId": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "subject": {
                          "type": ["string", "null"]
                        },
                        "messageCount": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "createdAt": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        },
                        "updatedAt": {
                          "type": "integer",
                          "minimum": 0,
                          "maximum": 9007199254740991
                        }
                      },
                      "required": [
                        "id",
                        "inboxId",
                        "subject",
                        "messageCount",
                        "createdAt",
                        "updatedAt"
                      ],
                      "additionalProperties": false
                    },
                    "messages": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "inboxId": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "threadId": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "direction": {
                            "type": "string",
                            "enum": ["inbound", "outbound"]
                          },
                          "messageId": {
                            "type": ["string", "null"]
                          },
                          "inReplyTo": {
                            "type": ["string", "null"]
                          },
                          "references": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "from": {
                            "type": "string"
                          },
                          "to": {
                            "type": "string"
                          },
                          "subject": {
                            "type": ["string", "null"]
                          },
                          "bodyText": {
                            "type": ["string", "null"]
                          },
                          "bodyHtml": {
                            "type": ["string", "null"]
                          },
                          "deliveryState": {
                            "type": "string",
                            "enum": [
                              "received",
                              "draft",
                              "queued",
                              "submitted",
                              "delivered",
                              "deferred",
                              "bounced",
                              "complained",
                              "uncertain",
                              "failed"
                            ]
                          },
                          "receivedAt": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          }
                        },
                        "required": [
                          "id",
                          "inboxId",
                          "threadId",
                          "direction",
                          "messageId",
                          "inReplyTo",
                          "references",
                          "from",
                          "to",
                          "subject",
                          "bodyText",
                          "bodyHtml",
                          "deliveryState",
                          "receivedAt"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": ["thread", "messages"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Structured API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": ["code", "message", "requestId"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-spinupmail-auth": "human-or-agent",
        "x-spinupmail-capability": "messages:read",
        "x-spinupmail-mcp": true
      }
    },
    "/api/v1/events": {
      "get": {
        "operationId": "pollEvents",
        "summary": "Poll durable events with a stable cursor",
        "security": [
          {
            "agentBearer": []
          },
          {
            "humanSession": [],
            "organizationId": []
          }
        ],
        "tags": ["Oversight"],
        "parameters": [
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": true,
            "schema": {
              "default": 50,
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                          },
                          "type": {
                            "type": "string",
                            "minLength": 1
                          },
                          "inboxId": {
                            "anyOf": [
                              {
                                "type": "string",
                                "format": "uuid",
                                "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "resourceType": {
                            "type": "string",
                            "minLength": 1
                          },
                          "resourceId": {
                            "type": "string",
                            "minLength": 1
                          },
                          "data": {
                            "type": "object",
                            "propertyNames": {
                              "type": "string"
                            },
                            "additionalProperties": {}
                          },
                          "createdAt": {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 9007199254740991
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "inboxId",
                          "resourceType",
                          "resourceId",
                          "data",
                          "createdAt"
                        ],
                        "additionalProperties": false
                      }
                    },
                    "nextCursor": {
                      "type": ["string", "null"]
                    }
                  },
                  "required": ["items", "nextCursor"],
                  "additionalProperties": false
                }
              }
            }
          },
          "default": {
            "description": "Structured API error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "message": {
                          "type": "string",
                          "minLength": 1
                        },
                        "requestId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": ["code", "message", "requestId"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["error"],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "x-spinupmail-auth": "human-or-agent",
        "x-spinupmail-capability": "events:read",
        "x-spinupmail-mcp": true
      }
    },
    "/api/v1/drafts": {
      "post": {
        "operationId": "createDraft",
        "summary": "Create a versioned immutable-on-submit draft",
        "security": [
          {
            "agentBearer": []
          },
          {
            "humanSession": [],
            "organizationId": []
          }
        ],
        "tags": ["Oversight"],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 8,
              "maxLength": 128
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "inboxId": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "threadId": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "to": {
                    "minItems": 1,
                    "maxItems": 50,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email",
                      "pattern": "^(?:[A-Za-z0-9_'+\\-]+\\.)*[A-Za-z0-9_'+\\-]*[A-Za-z0-9_+-]@(?:[A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                    }
                  },
                  "cc": {
                    "default": [],
                    "maxItems": 50,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email",
                      "pattern": "^(?:[A-Za-z0-9_'+\\-]+\\.)*[A-Za-z0-9_'+\\-]*[A-Za-z0-9_+-]@(?:[A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                    }
                  },
                  "bcc": {
                    "default": [],
                    "maxItems": 50,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email",
                      "pattern": "^(?:[A-Za-z0-9_'+\\-]+\\.)*[A-Za-z0-9_'+\\-]*[A-Za-z0-9_+-]@(?:[A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                    }
                  },
                  "subject": {
                    "default": "",
                    "type": "string",
                    "maxLength": 998
                  },
                  "bodyText": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 500000
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "bodyHtml": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 500000
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "inReplyTo": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 998
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "references": {
                    "default": [],
                    "maxItems": 50,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 998
                    }
                  }
                },
                "required": [
                  "id",
                  "inboxId",
                  "to",
                  "cc",
                  "bcc",
                  "subject",
                  "references"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Request completed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "draft": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "inboxId": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "threadId": {
                          "anyOf": [
                            {
                              "type": "string",
                              "format": "uuid",
                              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "to": {
                          "minItems": 1,
                          "maxItems": 50,
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "email",
                            "pattern": "^(?:[A-Za-z0-9_'+\\-]+\\.)*[A-Za-z0-9_'+\\-]*[A-Za-z0-9_+-]@(?:[A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                          }
                        },
                        "cc": {
                          "maxItems": 50,
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "email",
                            "pattern": "^(?:[A-Za-z0-9_'+\\-]+\\.)*[A-Za-z0-9_'+\\-]*[A-Za-z0-9_+-]@(?:[A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                          }
                        },
                        "bcc": {
[...]
